{% extends 'base.html' %}
{% block content %}

<!-- Three columns of text below the carousel -->
<br><br>
    <div class="row">
      <div class="col-lg-4">
        <img src="https://postfiles.pstatic.net/MjAxOTA4MDlfOTYg/MDAxNTY1MzU3NzA4NTIx.EWeQp6xPW17rc_T1Zqa8Cty2hoaA3mu_dcvRniGz5hYg.76bwXL8YZFmjqpH2pbUwabSBm3OJRo9n822CBtKr1fgg.PNG.zzdog34/KakaoTalk_20190809_223228238.png?type=w773" width="200" height="200">
        <br><br>
        <h2>RISABAE</h2>
        <p>뷰티 크리에이터</p>
      </div><!-- /.col-lg-4 -->

{% endblock %}