{% extends 'base.html' %}
{% block content %}
<body>
  <br>
  
  
    <!-- Page Content -->
    <div class="container">
  
   <!-- Heading Row -->
      <div class="row align-items-center my-5">
        <div class="col-lg-7">
          
          <iframe width=650 height=330 src="https://www.youtube.com/embed/MUnVhgBClgI?autoplay=0&controls=0" >
          </iframe>
  
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1 class="font-weight-bold">진용진</h1>
          <p>진용진의 새 식구를 구합니다! 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 어쩌고 저쩌고 </p>
          <a class="btn btn-secondary" href="#">자세히 보기</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
  
      <!-- Content Row -->
  <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://i.ytimg.com/vi/FV4mHPKiISU/maxresdefault.jpg" width="100%" height="225">
              <div class="card-body">
              <p1 class="font-weight-bold">쯔양(먹방 크리에이터)</p1>
                <p class="card-text">유튜버 쯔양의 새로운 가족을 찾습니다!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">자세히 보기</button>
                  </div>
                  <small class="text-muted">35초 전</small>
                </div>
              </div>
            </div>
          </div>
       
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://i.ytimg.com/vi/-_Qw-sgmazc/maxresdefault.jpg" width="100%" height="225">
              <div class="card-body">
              <p1 class="font-weight-bold">대도서관(게임 크리에이터)</p1>
                <p class="card-text">대도서관의 새로운 가족을 찾습니다!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">자세히 보기</button>
                  </div>
                  <small class="text-muted">2분 전</small>
                </div>
              </div>
            </div>
          </div>
       
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://i.ytimg.com/vi/0J4ym9lHCB0/maxresdefault.jpg" width="auto" height="225">
              <div class="card-body">
              <p1 class="font-weight-bold">성수커플(커플 크리에이터)</p1>
                <p class="card-text">성수커플의 새로운 가족을 찾습니다!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">자세히 보기</button>
                  </div>
                  <small class="text-muted">11분 전</small>
                </div>
              </div>
            </div>
          </div>
  
  </main>
  
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
  
    </div>
  </body>  

</html>

{% endblock %}