{% extends 'base.html' %}

{% block exstyle %}
<style>
    .imgContain{
        width: 588px;
    }
</style>
{% endblock %}
{% block content%}

{% if status %}
    <h1 class="title">있습니다.</h1>
    {% for i in status %}
        <div class="row">
            <img src="{{ i.image.url }}" class="card-img-top cardImg">
            <div class="card-body cardContain">
                <h5 class="card-title"><a  href="{% url 'detail' i.id %}">{{i.title}}</a></h5>
                <p class="card-text">{{i.summary}}</p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1 class="title" id="IssueTitle">없습니다</h1> 
    <a href="{% url 'index' %}"><img class="imgContain" src="#"></a>
   
    <script>
        var all_height = window.innerHeight
        var IssueTitleHeight = window.innerHeight
        document.getElementById("first").style.height = String(all_height) + "px"
        document.getElementById("IssueTitle").style.marginTop = String(IssueTitleHeight/8) + "px"
    </script>
{% endif %}

        
{% endblock %}